<template>
<section>
    <v-card v-if="detailPost" :loading=loading>
        <v-btn 
        color="warning" 
        dark
        class="ml-2 mt-2"
        to="/"
        >Back</v-btn>
       <v-card-title>Title:
        {{ detailPost.title }}
        </v-card-title>
    <v-card-text class="headline font-weight-bold">Body:
      {{ detailPost.body }}
    </v-card-text>
      <v-card-title>
        All Comments
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="comments"
        :search="search"
      >
      </v-data-table>
    </v-card>
</section>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
      detailPost: null,
      comments: [],
      limit: 15,
      search: '',
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'Email', value: 'email' },
        { text: 'Body', value: 'body' }
      ]
    }
  },
  async created() {
    this.loading = true
    await Promise.all([this.fetchPost(), this.fetchComments()])
    this.loading = false
  },
  methods: {
    async fetchPost() {
      try {
        const response = await this.$axios.get(
          `https://jsonplaceholder.typicode.com/posts/${this.$route.params.id}`
        )
        this.detailPost = response.data
      } catch (e) {
        console.log(e)
      }
    },
    async fetchComments() {
      try {
        const response = await this.$axios.get(
          `https://jsonplaceholder.typicode.com/posts/${this.$route.params.id}/comments?limit=${this.limit}`
        )
        this.comments = response.data
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
</style>