<template>
   <v-app id="inspire">
    <v-card>
      <v-simple-table :loading=loading height="600px">
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">No.</th>
            <th class="text-left">Title</th>
            <th class="text-left">Body</th>
            <th class="text-left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in postList" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.body }}</td>
            <td>
              <nuxt-link :to="{name: 'details-id', params: {
                id: item.id
              }}">
                <v-icon
                  small
                  class="mr-2"
                >
                  mdi-details
                </v-icon>
              </nuxt-link>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    </v-card>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      postList: [],
      loading: false
    }
  },
  async created() {
    this.loading = true
    try {
      const response = await this.$axios.get(
        `https://jsonplaceholder.typicode.com/posts`
      )
      this.postList = response.data
    } catch (e) {
      console.log(e)
    }
    this.loading = false
  }
}
</script>
